<!DOCTYPE html>

<html>


<head>
    <title>COVID Dashboard</title>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!--import script files needed from plotly and bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"><script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<!--navbar links-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Github</a>
            </li></ul>
    </div>
</nav>

<!--Header-->
<div class="jumbotron">
    <h1 class="display-6">Welcome to an outline of COVID in Chicago</h1>
    <p class="lead">The dashboard belows shows Chicago's current status and what it takes to open it back.</p>
    <hr class="my-1">
</div>

<ul class="nav nav-pills nav-stacked ml-3 mb-3">
    <li class="nav-item">
        <a href="#plotly-graphs" class="nav-link active">Dashboard</a>
    </li>
    <li class="nav-item">
        <a href="#reopening-chicago" class="nav-link">Reopening Chicago</a>
    </li>
</ul>

<!--Plotly Graphs-->
<body data-spy="scroll" data-target="#myScrollspy" data-offset="1"></body>

<div class = 'container-fluid' id = "plotly-graphs">
    <div class = 'row'>
        <div class = 'col mb-3'>
            <div class="progress" style="height: 20px;">
                <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">Phase 2: Stay at Home</div>
            </div>
        </div>
    </div>
    <div class = 'row'>
        <div class="col-12">
            <div id = 'current' class = 'row mb-3'>
                <div class = 'col-6'>
                    <div class="card shadow">
                        <div class="card-body">
                            <div id="{{ids[0]}}"></div>
                        </div>
                    </div>
                </div>
                <div class = 'col-6'>
                    <div class="card shadow">
                        <div class="card-body">
                            <div id="{{ids[1]}}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id = 'current' class = 'row mb-3'>
                <div class = 'col-6'>
                    <div class="card shadow">
                        <div class="card-body">
                            <div id="{{ids[2]}}"></div>
                        </div>
                    </div>
                </div>
                <div class = 'col-6 mb-2'>
                    <div class="card shadow">
                        <div class="card-body">
                            <div id="{{ids[3]}}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Reopening Chicago-->

<hr class="col solid">

<div class="cds-text section ml-3 mr-3">
    <div class="container-fluid text-block text-block-default">
        <div class="row">
            <div class="col p-0">
                <h3>Reopening Chicago</h3>
                <p class="lead">While we are still in phase two of the "Protecting Chicago" reopening framework, Mayor Lightfoot has announced that <a href="https://www.chicago.gov/city/en/depts/mayor/press_room/press_releases/2020/may/ReopeningJune3.html" target="_blank" rel="noopener noreferrer">Chicago is on track to begin reopening cautiously on June 3</a> and move to phase three. Throughout the COVID-19 crisis, we have been committed to basing our decisions on the science and data related to this disease and communicating our actions to the public in an open and transparent way. This chart shows how we plan to return to work and life as well as protecting our health during each phase.</p>
                <p>&nbsp;</p>
                <h3>How we determine the current phase</h3>
                <p class='lead'>The details for each phase are being informed by economic and health data, and a combination of input from industry working groups, health experts and the public. The specific health criteria for transition between the latter phases will be established and released over the coming weeks to ensure&nbsp;the City is open and responsive to new data and information as it arises.&nbsp;</p>
             </div>
         </div>
    </div>
</div>

<div class="cards-container section ml-3 mr-3" id = "reopening-chicago">
    <div class="container-fluid px-0 card-hover card-small-header pb-5">
       <div class="row">
   
       <div class="py-2 col-sm-4 col-md-3 col-lg-2dot4">    
           <div class="card h-100  ">
               <h4 class="card-header bg-primary text-white">PHASE I  <br>STRICT STAY-AT-HOME </h4>
                 <img class="card-img-top align-self-center w-25 mt-1 mb-1" src="/templates/img/noun_Chicago_230548.png" alt="Card Image">
                <div class="card-body ">
                    <h4 class="card-title">Goal is to limit interactions to rapidly slow the spread of COVID-19</h4>
                    <div class="card-text"><p><em>Limit the amount of contact with others</em></p>
                        <p><strong>WORK</strong><em><br></em>Essential workers go to work; everyone else works from home<em><br></em><strong>LIFE</strong><em><br></em>Stay at home and limit going out to essential activities only</p>
                        <p><strong>HEALTH</strong><em><br></em>Physically distance from anyone you do not live with, especially vulnerable friends and family</p></div>
                 </div>   
           </div>
           </div>
        
       <div class="py-2 col-sm-4 col-md-3 col-lg-2dot4">    
           <div class="card h-100  ">
               <h4 class="card-header bg-primary text-white">PHASE II <br> STAY-AT-HOME<br></h4>
                 <img class="card-img-top align-self-center w-25 mt-1 mb-1" src="/templates/img/noun_Chicago_230548 (1).png" alt="Card Image">
                <div class="card-body ">
                    <h4 class="card-title">Goal is to continue flattening the curve while safely being outside</h4>
                    <div class="card-text"><p><em>(Guard against unsafe interactions with others)</em></p>
                    <p><strong>WORK</strong><br>Essential workers go to work; everyone else works from home</p>
                    <p><strong>LIFE</strong><br>Stay at home as much as possible</p>
                    <p><strong>HEALTH</strong><br>Wear a face covering while outside your home</p>
                    <p>Physically distance from anyone you do not live with, especially vulnerable friends and family</p></div>
                 </div>   
           </div>
           </div>
               
       <div class="py-2 col-sm-4 col-md-3 col-lg-2dot4">    
           <div class="card h-100  ">
               <h4 class="card-header bg-primary text-white">PHASE III <br>CAUTIOUSLY REOPEN</h4>
                 <img class="card-img-top align-self-center w-25 mt-1 mb-1" src="/templates/img/noun_Chicago_230548 (2).png" alt="Card Image">
                <div class="card-body ">
                    <h4 class="card-title">Goal is to thoughtfully begin to reopen Chicago safely</h4>
                    <div class="card-text"><p><em>Strict physical distancing with some businesses reopening</em></p>
                        <p><strong>WORK</strong><br>Non-essential workers begin to return to work in a phased way</p>
                        <p>Select businesses, non-profits, city entities open with demonstrated, appropriate protections for workers and customers</p>
                        <p><strong>LIFE</strong><br>When meeting others, physically distance and wear a face covering</p>
                        <p>Non-business, social gatherings limited to <u>&lt;</u>10 persons</p>
                        <p>Phased, limited public amenities begin to open&#8203;</p>
                        <p><strong>HEALTH</strong><br>Stay at home if you feel ill or have come into contact with someone with COVID-19</p>
                        <p>Continue to physically distance from vulnerable populations</p>
   <p>Get tested if you have symptoms</p></div>
                 </div>   
           </div>
           </div>
               
       <div class="py-2 col-sm-4 col-md-3 col-lg-2dot4">    
           <div class="card h-100  ">
               <h4 class="card-header bg-primary text-white">PHASE IV <br> GRADUALLY RESUME</h4>
                 <img class="card-img-top align-self-center w-25 mt-1 mb-1" src="/templates/img/noun_Chicago_230548 (3).png" alt="Card Image">
                <div class="card-body ">
                    <h4 class="card-title">Goal is to further reopen Chicago while ensuring the safety of residents</h4>
                    <div class="card-text"><p><em>Continued staggered reopening into a new normal</em></p>
                        <p><strong>WORK</strong><br>Additional business and capacity restrictions are lifted with appropriate safeguards</p>
                        <p><strong>LIFE</strong><br>Additional public amenities open</p>
                        <p>Continue to wear a face covering and physically distance</p>
                        <p><strong>HEALTH<br></strong>Continue to distance and allow vulnerable residents to shelter</p>
                        <p>Get tested if you have symptoms or think you have had COVID-19</p></div>
                 </div>   
           </div>
           </div>
               
       <div class="py-2 col-sm-4 col-md-3 col-lg-2dot4">    
           <div class="card h-100  ">
               <h4 class="card-header bg-primary text-white">PHASE V<br>PROTECT</h4>
                <img class="card-img-top align-self-center w-25 mt-1 mb-1" src="/templates/img/noun_open_2721472 (1).png" alt="Card Image">
                <div class="card-body ">
                    <h4 class="card-title">Goal is to continue to maintain safety until COVID-19 is contained</h4>
                    <div class="card-text"><p><em>Continue to protect vulnerable populations</em></p>
                        <p><strong>WORK</strong><br>All businesses open</p>
                        <p>Non-vulnerable individuals can resume working</p>
                        <p><strong>LIFE</strong><br>Most activities resume with health safety in place</p>
                        <p>Some events can resume</p>
                        <p><strong>HEALTH</strong><br>Sign up for a vaccine on the COVID Coach web portal</p></div>
                 </div>        
           </div>
           </div>
       </div>
   </div>
   
</div>


<!--footer section-->
<hr class="col solid">
<div id="footer" class="container-fluid ml-6 mr-3">
    <p>Data analysis by <a href="https://medium.com/@andrescrucetta">Andres Crucetta</a></p>
    <p>Reopening data by the <a href ="https://www.chicago.gov/city/en/sites/covid-19/home/reopening-chicago.html">City of Chicago</a></p>
</div>

</body>

<script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
</script>

<script>
        var dt = new Date();
        document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
</script>

</footer>


</html>